# Default ignored files
/workspace.xml

# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../first-app\.idea/codestream.xml
# CodeStream ignored files
/../../kala120\.idea/codestream.xml